@defer (on viewport) {
<div class="container-fluid">
  <div class="col-12 mx-auto mt-4">
    <ul class="list-group">
      @for (content of contents; track $index) {
      <app-content-item [content]="content"></app-content-item>
      }
    </ul>
  </div>
</div>
} @placeholder {
<p>No hay datos</p>
}@loading(minimum 0.5s) {
<app-ftx-spinner />
}

<ftx-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageIndex]="currentPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></ftx-paginator>
