@defer(on viewport){

<div class="container-fluid">
  <div class="col-8 mx-auto mt-4">
    <ul class="list-group">
      @for (link of links; track link.id) {

      <app-link-item [link]="link" [contents]="contents" />

      }
    </ul>
  </div>
</div>

<ftx-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[5, 10, 15]"
  (page)="onPageChange($event)"
></ftx-paginator>
<div class="example-container"></div>
} @placeholder {
<p>No hay datos</p>
}@loading(minimum 0.5s) {
<app-ftx-spinner />
}
