<ftx-layout-page [title]="'Contenidos'">
  <div class="container-fluid">
    <div class="col-12 mx-auto mt-4">
      <ng-container>
        <div class="row d-flex justify-content-between">
          <div class="col-8 col-md-4">
            <ftx-input
              [viewLabel]="false"
              [placeholder]="'Búsqueda por nombre'"
              [formGroup]="formControl"
              [controlName]="'tag'"
              (searchEvent)="handleSearchEvent($event)"
            />
          </div>

          <div class="col-4 col-md-6 d-flex justify-content-end">
            <ftx-button
              [positionIcon]="'left'"
              [icon]="'add_circle'"
              [content]="'Nuevo contenido'"
              [routerLink]="[MODULES.CONTENTS.NEW_CONTENT]"
            />
          </div>
        </div>
        <div>
          <div class="row mt-2">
            <app-content-list />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ftx-layout-page>
