<div
  class="list-group-item list-group-item-action item-content mb-3 shadow-sm align-item-center"
>
  <div class="item justify-content-between">
    <p class="font-weight-bold text-center h6 text-lg my-auto">
      {{ content.tag }}
    </p>
    <span class="d-flex justify-content-between">
      <div>
        <ftx-button
          [onlyIcon]="true"
          [buttonType]="'primary'"
          [icon]="'remove_red_eye'"
        ></ftx-button>
      </div>
      <div>
        <ftx-button
          [buttonType]="'success'"
          [onlyIcon]="true"
          [icon]="'create'"
          (eventClick)="showEdit(content)"
        ></ftx-button>
      </div>
      <div>
        <ftx-button
          [buttonType]="'danger'"
          [onlyIcon]="true"
          [icon]="'delete_forever'"
          (eventClick)="showModalDelete()"
        ></ftx-button>
      </div>
      <div>
        <ftx-button
          [onlyIcon]="true"
          [buttonType]="'primary'"
          [icon]="'attachment'"
          (eventClick)="assign(content)"
        ></ftx-button>
      </div>
    </span>
  </div>
</div>
