.etiqueta{
  background-color: rgb(147, 147, 147) ;
  margin-left: 10px;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-chip {
  background-color: #c92037 !important; /* Color de fondo */
  color: #ffffff !important;
}
.mat-chip.mat-chip-selected {
  color: #ffffff !important;
}
.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: #fff;
}

.mat-chip-gray {
  --mdc-chip-label-text-color: #3b3b3b;
}
