@defer(on viewport){

<div class="row">
  @for (order of orders; track order.id) {
  <div class="col-sm-6 col-xl-4 col-12">
    <ftx-item [Title]="order.purchaseOrder">
      <ng-container content>
        <p class="p-item">
          <strong>Orden de compra:</strong> {{ order.purchaseOrder }}
        </p>
        <p class="p-item">
          <strong>Código de producto:</strong>{{ order.sku }}
        </p>
        <p class="p-item">
          <strong>Cantidad total:</strong> {{ order.amountQr }}
        </p>
        <p class="p-item">
          <strong>Cantidad disponible:</strong> {{ order.amountAvailable }}
        </p>
      </ng-container>
      <ng-container footer>
        <div class="d-flex">
          <ftx-button
            [content]="'Eliminar'"
            [buttonType]="'success'"
            [icon]="'attachment'"
            (eventClick)="assign(order)"
            [onlyIcon]="true"
          />
        </div>
      </ng-container>
    </ftx-item>
  </div>
  }
</div>

<ftx-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[5, 10, 15]"
  (page)="onPageChange($event)"
></ftx-paginator>
<div class="example-container"></div>
} @placeholder {
<p>No hay datos</p>
}@loading(minimum 0.5s) {
<app-ftx-spinner />
}
