.mat-icon-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;  /* Ajusta el tamaño del ícono según tus necesidades */
    height: 40px; /* Ajusta el tamaño del ícono según tus necesidades */
    border-radius: 50%;
    background-color: blue; /* Usa la variable de color primario de tu tema */
    color: white; /* Color del texto/icono dentro del círculo, ajusta según sea necesario */
  }

  .responsive-table {
    overflow-x: auto;
    display: block;
    width: 100%;
}

.mat-row,
.mat-header-row {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    word-wrap: break-word;
}

.rotate-icon {
  transform: rotate(90deg);  /* Ajusta el ángulo de rotación según tus necesidades */
  transition: transform 0.3s ease;  /* Agrega una transición suave si deseas */
}